
# AGENT_LLM_INFO_FILE environment variable
# This environment variable can be set as a system-wide inclusion of you own llm_info.hocon. Changes here apply to all agents on the single server.
{
    "gpt-4.1": {
        "use_model_name": "gpt-4.1-2025-04-14",
    },
    "gpt-4.1-2025-04-14": {
        "class": "openai",
        "model_info_url": "https://platform.openai.com/docs/models/4.1",
        "modalities": {
            "input": [ "text", "image" ],
            "output": [ "text" ],
        },
        "capabilities": [ "tools" ],
        "context_window_size": 1047576,
        "max_output_tokens": 32768,
        "knowledge_cutoff": "05/31/2024",
    }
}